/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: AkzidenzGroteskBEMediumExte;
    src: url(../fonts/AkzidenzGroteskBEMediumExte.otf);
}

@font-face {
    font-family: AkzidenzGroteskBEMediumCond;
    src: url(../fonts/AkzidenzGroteskBEMediumCond.otf);
}
@font-face {
    font-family: AkzidenzGroteskBEMedium;
    src: url(../fonts/AkzidenzGroteskBEMedium.otf);
    /*font-weight: 400;*/
}

@font-face {
    font-family: AkzidenzGroteskBELightExten;
    src: url(../fonts/AkzidenzGroteskBELightExten.otf);
}
@font-face {
    font-family: AkzidenzGroteskBELightConde;
    src: url(../fonts/AkzidenzGroteskBELightConde.otf);
}
@font-face {
    font-family: AkzidenzGroteskBELight;
    src: url(../fonts/AkzidenzGroteskBELight.otf);
    /*font-weight: 100;*/

}

@font-face {
    font-family: AkzidenzGroteskBEExtraBoldC;
    src: url(../fonts/AkzidenzGroteskBEExtraBoldC.otf);
}
@font-face {
    font-family: AkzidenzGroteskBEExtraBold;
    src: url(../fonts/AkzidenzGroteskBEExtraBold.otf);
    /*font-weight: 900;*/
}

@font-face {
    font-family: AkzidenzGroteskBEExtended;
    src: url(../fonts/AkzidenzGroteskBEExtended.otf);
}
@font-face {
    font-family: AkzidenzGroteskBEBoldExtend;
    src: url(../fonts/AkzidenzGroteskBEBoldExtend.otf);
}

@font-face {
    font-family: AkzidenzGroteskBEBoldConden;
    src: url(../fonts/AkzidenzGroteskBEBoldConden.otf);
}
@font-face {
    font-family: AkzidenzGroteskBEBold;
    src: url(../fonts/AkzidenzGroteskBEBold.otf);
}

@font-face {
    font-family: AkzidenzGroteskBE;
    src: url(../fonts/AkzidenzGroteskBE.otf);
}
@font-face {
    font-family: Akzidenz-Grotesk_Extended_BQ;
    src: url(../fonts/Akzidenz-Grotesk_Extended_BQ.otf);
}

@font-face {
    font-family: AkzidGroExtBQBol;
    src: url(../fonts/AkzidGroExtBQBol.ttf);
}

@font-face {
    font-family: AkzidGroExtBQMed;
    src: url(../fonts/AkzidGroExtBQMed.ttf);
}
@font-face {
    font-family: AkzidGroExtBQReg;
    src: url(../fonts/AkzidGroExtBQReg.ttf);
}

@font-face {
    font-family: AkzidenzGroteskBE;
    src: url(../fonts/AkzidenzGroteskBE-Md.otf);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  list-style: none;
  text-decoration: none;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 30px;
  color: #5c5c5c;
  background: white;
  font-family: AkzidenzGroteskBELight;
  font-size: 16px;
  font-weight: 400;
}
.clear{
  clear: both;
}
header {
    background: #f8f8f8;
    padding: 5px 0;
}
h1,h2,h4,h5{
  font-family: AkzidenzGroteskBE;
}
.bg-light {
    background-color: #f8f8f8!important;
    padding: 0;
}
.navbar-light .navbar-nav .nav-link{
  color: #5c5c5c;
  font-size: 16px;
  padding-left: 30px;
  font-family: AkzidenzGroteskBE;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
  color: #712f55;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: #712f55;
}
.navbar-brand img {
    max-width: 85px;
    height: 85px;
}
footer {
    background: #231f20;
    padding-top: 40px;
    color: #fff;
    font-size: 16px;
}
footer p span {
    display: block;
}
.contact-details{
  float: right;
}
.contact-details li{
  text-align: right;
}
.contact-details li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.footer-top {
    border-bottom: 1px solid #3e3a3b;
  padding-bottom: 20px;
}
footer h6 {
    text-align: center;
    width: 100%;
    font-size: 14px;
    padding: 15px 0;
}
.page-title {
    text-align: center;
    padding: 80px 0 0;
}
.page-title h1 {
    font-size: 48px;
    width: 100%;
    margin-bottom: 10px;
}
.page-title p{
  width: 100%;
}
.all-section {
    padding: 80px 0;
}
.all-section h3 {
    font-size: 30px;
    margin: 0 0 20px;
}
.all-section p{
  margin-bottom: 20px;
}
.content {
    padding-right: 40px;
}
.all-section img{
  max-width: 100%;
}
/*-- contact us page start --*/

.contact-us .content {
    text-align: center;
    padding: 0;
}
.contact-us .all-section{
  padding: 100px 0;
}
.contact-us .content i{
  color: #712f55;
  font-size: 30px;
}
.contact-us .content h4{
  font-size: 32px;
  font-family: AkzidenzGroteskBE;
  margin: 5px 0 10px;
}
.contact-us .content a{
  color: #5c5c5c;
    font-size: 18px;
    text-decoration: none;
}
.contact-us .content p span{
  display: block;
}
/*-- contact us page end --*/


/*-- technical details css start here --*/
.technical-box {
    padding: 0 20px;
}
.technical-box p {
    margin: 0 0 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: AkzidenzGroteskBE;
    vertical-align: top;
    line-height: 18px;
}
.technical-box {
    padding: 0 20px;
    margin-bottom: 50px;
}
.technical-box h4 {
    font-size: 20px;
    font-family: AkzidenzGroteskBELight;
    line-height: 18px;
}
.technical-box h4 span {
    font-family: AkzidenzGroteskBE;
    color: #712f55;
    line-height: 25px;
}
.left-border-box {
    border-left: 3px solid #712f55;
    padding-left: 15px;
    margin-top: 15px;
}
.grey-bg {
    background: #f8f8f8;
}
table.table {
    background-color: #ffffff;
}
.table td, .table th{
  padding: 7px 15px;
}
.table .thead-light th{
  background: #f8f8f8;
  color: #712f55;
  font-size: 16px;
  font-family: AkzidenzGroteskBE;
}
.table td strong{
  font-family: AkzidenzGroteskBE;
}
.custom-tabel {
    margin-top: 40px;
}
/*-- iconic finish css start --*/
.all-section h2{
  font-size: 48px;
  font-family: AkzidenzGroteskBELight;
  line-height: 60px;
  margin-bottom: 25px;
   text-transform: uppercase;
}
.all-section h2 span{
   font-family: AkzidenzGroteskBE;
 color: #712f55;
 display: block;
}
.iconic-product-dec p strong{
  font-family: AkzidenzGroteskBE;
  font-size: 20px;
}
.iconic-product-dec.left-content {
    padding-left: 25px;
}
.iconic-product-dec.right-content{
  padding-right: 25px;
}
/*-- iconic finish css end --*/
.iconic-about img {
    float: left;
    margin-right: 20px;
}
.iconic-about p {
    margin-top: 8px;
    color: #712f55;
    font-style: italic;
}
.iconic-about h4 {
    font-size: 24px;
    text-transform: uppercase;
    color: #712f55;
}
.scial-bsafal .content-part {
    margin-right: 80px;
}
.scial-bsafal .content-part img {
    margin-bottom: 60px;
}
.scial-bsafal .content-part p strong {
  font-weight: 600;
}
.content.Our_corporate {
    padding-right: 0;
    padding-left: 40px;
}
section.home-page {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}
.center-mode {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.center-mode img {
    max-width: 190px;
    height: 190px;
    margin-bottom: 30px;
}
.center-mode h5 {
    color: #5c5c5c;
}
.content.event-address {
    margin-bottom: 70px;
}
/*-- resposive css start --*/

@media only screen and (max-width:767px){
  .contact-us .content {
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
}
.all-section h2 {
    font-size: 28px;
    line-height: 40px;
}
.all-section p {
    margin-bottom: 15px;
}
.contact-us .content {
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
}
.page-title p {
    padding: 0 20px;
}
.iconic-product-dec.left-content {
    padding: 0;
    margin-top: 30px;
}
.page-title h1 {  
    font-size: 38px;
}
.contact-details {
    width: 100%;
}
.contact-details li {
    text-align: left;
}
footer h6 {
    line-height: 26px;
}
.content {
    padding: 0;
}
.all-section img {
    max-width: 100%;
    margin-bottom: 15px;
}
.contact-us .all-section {
    padding: 40px 0;
}
}